[Unit]
Description=Nimbus Eth2 Ethereum Client - An extremely fast Eth2 consensus node and validation client
Requires=network.target
Documentation=https://nimbus.guide
Documentation=https://github.com/status-im/nimbus-eth2/

[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/nimbus-eth2
ExecStart=/usr/bin/nimbus_validator_client --data-dir=$NIMBUS_ETH2_DATADIR $NIMBUS_ETH2_VALIDATOR_OPTIONS
ExecReload=/usr/bin/kill -HUP $MAINPID
UMask=0066
Restart=on-failure
User=nimbus
Group=nimbus
LimitNOFILE=16384

[Install]
WantedBy=multi-user.target
